<!doctype html>

<title>Remote Leecher Browser </title>
{% if cssCore %}
	<link rel="stylesheet" type="text/css" href="{{cssCore}}">
{% endif%}
{% for coreFile in jsCore %}
	<script src="{{ coreFile }}"></script>
{% endfor%}

<script type="text/javascript">
	Ext.BLANK_IMAGE_URL = window.location+'/static/resources/images/default/s.gif';
	Ext.namespace('remoteleecher','remoteleecher.form');
</script>

{% if jsApp %}
	<script src="{{ jsApp }}"></script>
{% endif%}

<script type="text/javascript">
	Ext.onReady(remoteleecher.buildWindow);
</script>
